a {
    color: #11999e;
    font-family: "Montserrat", sans-serif;
}
a:hover {
    color: #eaf6f6;
}
body {
    margin: 0px;
    color: #40514e;
    text-align: center;
    font-family: "Merriweather", serif;
}
.bottom-cloud {
    position: absolute;
    left: 15%;
    top: 60%;
}
.bottom-container {
    background-color: #66bfbf;
    margin: 10rem auto 0;
    padding: 2rem;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    position: relative;
    top: 4rem;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}
.by {
    color: #eaf6f6;
    margin-top: 3em;
    font-size: 0.75rem;
}
.contact-persuasion {
    margin: 2rem auto 0;
}
.footer-link {
    margin: 1rem 2rem 2rem;
    text-decoration: none;
}
.greeting-text {
    margin: 2rem auto 4rem;
}
hr {
    border-style: none;
    border-top: 5px dotted #eaf6f6;
    width: 3%;
    margin-bottom: 3rem;
}
h1 {
    margin-top: 0px;
    font-family: "Sacramento", cursive;
    font-size: 562.5%;
    color: #66bfbf;
}
h2 {
    font-family: "Montserrat", sans-serif;
    color: #66bfbf;
}
h3 {
    font-family: "Montserrat", sans-serif;
    color: #11999e;
}
.middle-container {
    background-color: white;
}
p {
    line-height: 2;
}
.pro {
    text-decoration: underline;
}
.profile-photo {
    border-radius: 100%;
    width: 10%;
    height: 10%;
    margin: 5em auto 1em;
}
.skill-gif {
    width: 25%;
    float: right;
    margin-left: 30px;
    border-radius: 100%;
    height: 189.9px;
}
.skill-image {
    width: 25%;
    float: left;
    margin-right: 30px;
}
.skill-row {
    width: 50%;
    margin: 100px auto 100px;
    text-align: left;
}
.title {
    font-size: 2.5rem;
    font-weight: normal;
}
.title-heading {
    margin: 50px auto 0px;
}
.top-cloud {
    position: absolute;
    right: 20%;
    top: 8%;
}
.top-container {
    background-color: #e4f9f5;
    padding-top: 100px;
    margin-bottom: 0px;
}
