div {
    background-color: #e4f9f5;
}
body {
    margin: 0px;
    text-align: center;
    font-family: "Merriweather", serif;
}
h1 {
    margin-top: 0px;
    font-family: "Sacramento";
    font-size: 562.5%;
}
h2 {
    font-family: "Montserrat";
}
h3 {
    font-family: "Montserrat";
}
.title {
    margin-bottom: 0px;
}
.top-container {
    padding-top: 100px;
    margin-bottom: 0px;
}
/* .middle-container {
}
.bottom-container {
} */
.pro {
    text-decoration: underline;
}
.profile-photo {
    border-radius: 100%;
}
.bottom-cloud {
    position: absolute;
    left: 20%;
    top: 40%;
}
.top-cloud {
    position: absolute;
    right: 20%;
    top: 10%;
}
